In [1]:
import pandas as pd
data = pd.read_csv('trainId.txt', sep=" ", header=None)

In [2]:
data.head()

         0
0  id10001
1  id10006
2  id10008
3  id10012
4  id10015

In [3]:
data.tail()

           0
896  id11246
897  id11247
898  id11248
899  id11250
900  id11251

In [4]:
data[0].iloc[0][-4:]

'0001'

In [5]:
data[0].iloc[0][0:-4]

'id1'

In [6]:
data[0].iloc[0]

'id10001'

In [7]:
sub = data[0].iloc[0][0:-4]

In [8]:
values = []
for i in range(1,1252):
    sub = data[0].iloc[0][0:-len(str(i))]
    value = sub + str(i)
    values.append(value)

In [9]:
len(values)

1251

In [10]:
values[-10:]

['id11242',
 'id11243',
 'id11244',
 'id11245',
 'id11246',
 'id11247',
 'id11248',
 'id11249',
 'id11250',
 'id11251']

In [11]:
values[:10]

['id10001',
 'id10002',
 'id10003',
 'id10004',
 'id10005',
 'id10006',
 'id10007',
 'id10008',
 'id10009',
 'id10010']

In [12]:
with open('trainAllFaces.txt', 'w') as f:
    for item in values:
        f.write("%s\n" % item)